
.probability-input-component {
    margin-left: -0.3em;
    margin-right: -0.3em;
    display: flex;
    align-items: center;
    
    .probability-name {
        flex-grow: 2;
        flex-basis: 0;
    }
    
    .probability-chance {
        flex-grow: 1;
        flex-basis: 0;
    }
    
    .probability-remove {
        
    }
    
    > * {
        padding: 0.3em;
    }
}
