
.probability-goal-input-component {
    display: flex;
    align-items: center;
    width: 100%;
    
    .goal-probability-item {
        flex-grow: 1;
    }
    
    .goal-comparison-operator {
        width: 5em;
    }
    
    .goal-target-container {
        width: 5em;
    }
    
    .goal-button-container {
        
    }
    
    > * {
        padding: 0.3em;
        
        &:first-child {
            padding-left: 0;
        }
        
        &:last-child {
            padding-right: 0;
        }
    }
}
