
.simulation-result-display-component {
    flex-grow: 1;
    display: flex;
    
    .result-info {
        width: 25%;
        flex-grow: 0;
        padding-right: 2em;
    }
    
    .result-chart {
        flex-basis: 0;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    
    .iterations-content-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    
    .iterations-icon {
        position: absolute;
        right: 1em;
        font-size: 0.6em;
    }
}
